<h1>Profile for User <%= @user.id %></h1>
<h3><%= "#{@user.name} has " + 
	pluralize(friends_count(@user), 'friend') + "." %></h3>
<% if current_user.has_active_friend_request_pending_with?(@user) %>
	<%= "Friend request pending." %>
<% elsif current_user.is_friends_with?(@user) %>
	<%= "You and #{@user.name} are friends." %>
<% else %>
	<%= link_to "Send Friend Request", user_friend_requests_url(@user.id), method: :post %>
<% end %>