<h1>Profile for User <%= @user.id %></h1>
<h3><%= "#{@user.name} has " + 
	pluralize(friends_count(@user), 'friend') + "." %></h3>
<% if friend_request_pending_between?(current_user, @user) %>
	<%= "Friend request pending." %>
<% elsif are_friends?(current_user, @user) %>
	<%= "You and #{@user.name} are friends." %>
	<%= link_to "Unfriend?", #user_friend_request_path(current_user.id, @user.id), 
		method: :patch, data: { confirm: "Are you sure?" } %>
<% else %>
	<%= link_to "Send Friend Request", user_friend_requests_url(@user.id), method: :post %>
<% end %>