<h1>Profile for User <%= @user.id %></h1>

<% if current_user.id != @user.id %>
	<h3><%= "#{@user.name} has " + 
		pluralize((@user.passive_friend_requests.accepted.count + @user.active_friend_requests.accepted.count), 'friend') + "." %></h3>
	<% if current_user.has_active_friend_request_pending_with?(@user) %>
		<%= "Friend request pending." %>
	<% elsif current_user.is_friends_with?(@user) %>
		<%= "You and #{@user.name} are friends." %>
	<% else %>
		<%= link_to "Send Friend Request", user_friend_requests_url(@user.id), method: :post %>
    <% end %>
<% else %>
	<h3><%= "You have " + 
		pluralize((current_user.active_friend_requests.accepted.count + current_user.passive_friend_requests.accepted.count), 'friend') + "." %></h3>
	<% if @user.has_passive_friend_requests_pending? %>
		<%= pluralize(@user.passive_friend_requests.pending.count, 'Friend Request') + " pending." %></br>
		<ul>
		<% @user.passive_friend_requests.pending.each do |request| %>
			<li>
			<%= request.requester.name %>
			<%= link_to "Accept?", user_friend_request_url(@user.id, request.requester_id), method: :patch %>
			</li>
		<% end %>
		</ul>
	<% end %>
<% end %>
	
 